.page-header {
  background-color: #7DBCCC;
  color: white;
  font-family: Lato;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.row {
  padding: 40px 40px 40px 40px;
}

h3 {
  padding-top: 40px;
  color: #7DBCCC;
  size: 20px;
  text-align: center;
}

h4 {
  color: #CC5537;
}
