{% extends 'base.html' %}
{% block content %}
<h3>About</h3>
<div class="mx-auto" style="width: 50%; line-height: 200%">
    Are you overwhelmed by the number of courses Penn offers? Do you spend hours trying to search for the perfect
    course on PennCourseReview? What about PennIntouch? Let's not even go there.
    <br>
    With PennCourseRec, you can start with a blank canvas, jot down your thoughts, what you think is the perfect
    course that you're looking for, or even a brief description of what you like and don't like about a course.
    <br>
    Using an nlp engine, PennCourseRec will bring you currently offered courses that best match your ideal course.
    <br>
    Have fun!
</div>
{% endblock %}