{% extends 'base.html' %}
{% block content %}
<div class="row">
  {% for course in saved_courses %}
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{ course.name }} {{course.number}}</h4>
          <p class="card-text">{{ course.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<form method = "POST" action = "/saved_descriptions" >
  {% csrf_token %}
  <input type = "submit" value = "Save this description" >
</form>
{% endblock %}
