
{% extends 'base.html' %}
{% block content %}
<div class="row">
  {% for description in all_saved_descriptions %}
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">{{ description.name }} </h4>
          <p class="card-text">{{ description.description}}</p>
          <p> <a href = "courses_for_descriptions?id={{description.id}}"> Recommended Courses For This Description </a> </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}